.App {
  text-align: center;
  background-color: #21252b;
}

.App-header {
  background-color: #282c34;
  color: white;

  border-bottom: 2px solid rgb(209, 209, 209);
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  font-size: calc(10px + 2vmin);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.App-title {
  justify-content: left;
  padding-left: 1em;
  padding-right: 1em;

  display: flex;
}

.App-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
}

.App-link {
  color: #5490cf;
  padding: 1em;

  display: flex;
}
